.vscode
.dockerignore

__pycache__/
local_workspace/
local_scripts/
blur_data/
data/
web_demo/
motionblur/

exp/datasets/*
!exp/datasets/ood_ffhq
!exp/datasets/ood_afhq
exp/image_samples/*

*.pth
*.csv
*.npy
*.ckpt
*.pt

log*.txt
nohup.out